<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <menu>
        <li><a href="/character">Personagens</a></li>
        <li><a href="/location">Locais</a></li>
        <li><a href="/episode">Episódios</a></li>
    </menu>
</header>

<div>
    <h1>Bem-vindo ao sistema de dados do
        desenho animado Rick and Morty.</h1>

    <p>Este aplicativo é uma base prática para os conteúdos
       de Mapeamento Objeto-Relacional e desenvolvimento de
       microserviços</p>
</div>

<footer>
    <p>Desenvolvimento de Software com Python</p>
</footer>

</body>
</html>